#link{
    color: black;
    text-decoration: none;
}

#link:hover{
    color: red;   
}

body {
    background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
}

.container {
    background: white;
    padding: 0.1em 2em 1.5em 2em;
    margin: 1em auto;
    border-radius: 0.5rem;
}

.event_box{
    overflow: hidden;
    padding-top:1em;
    margin-top: 3em;
    border-top: #333 solid 1px;

    display: flex;
}

.image{
    margin: auto 1em auto 1em;
    margin-right: 1em;
    margin-left: 1em;
    flex:1;   
}

.info{
    flex:5;
    display: flex;
    flex-direction: column;
}

.title_date{
    display: flex;
    align-items: flex-end;    
}

.title{    
    font-size: xx-large;
    justify-self: flex-start;
    margin-right: 1em;
    line-height: 1;
}

.date{
    font-size: large;
    margin-left: auto;
    flex-shrink: 0;
}

.description{
    flex:4;
    flex-shrink: 0;
}

.place-status{
    display: flex;
    flex-shrink: 0;
}

.status{
    margin-left: auto;
    flex-shrink: 0;
}

.place
{
    font-size: large;
    flex-shrink: 0;
    line-height: 1.3;
}