html, body, #app {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

a:link {
    text-decoration: none;
}

a:hover{
    color:black;
}

.normalise-font {
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    padding: 1em 10% 1em 10%;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo-image {
    height: 60px;
}

.logo-text {
    height: 50px;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.header-link {
    margin-left: 3em;
    font-size: large;
    display: inline-block;
    position: relative;
    color: black;
}

.underscore-animation {
    display: inline;
}

.underscore-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underscore-animation:hover::after, .underscore-animation:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.landing-link-animation > span {
    position: relative;
}

.landing-link-animation > span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.landing-link-animation:hover > span::after, .landing-link-animation:focus > span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ytb-animation {
    color: yellow;
    font-size: 20px;
    transition: color 0.15s;
}

.ytb-animation:hover, .ytb-animation:active {
    color: black;
}

.gradient-card {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 500px;
    padding: 5em 10% 5em 10%;
    color: white;
    background: rgb(241,0,196);
    background: linear-gradient(265deg, rgba(241,0,196,1) 0%, rgba(175,24,180,1) 35%, rgba(96,50,204,1) 100%);    
    font-family: 'Bebas Neue', cursive;
}

.form {
    padding: 20px;
    border: 3px solid white;  
    outline: 5px solid white;
    outline-offset: 5px;  

    font-size: 20px;

    width: 500px;
    height: fit-content;
    color: white;
}

.form-label {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.intro-text-big {
    font-size: 50px;
    letter-spacing: 2px;
}

.intro-text-list {
    font-size: 30px;
    margin-left: 1em;
}

.landing {
    font-size: 30px;
    width: 30%;
}

.error-message {
    font-family: "Nunito", sans-serif;
    color: yellow;
    font-size: 15px;
}

.form-header {
    font-size: 30px;
}

.white-svg {
    height: 45px;
    margin-right: 0.2em; 
    margin-top: 0.05em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(133deg) brightness(109%) contrast(101%);
}

.landing-link {
    color:white
}

.landing-link:hover {
    color:white
}

.nav-ul {
    margin: 0;
}

.nav-listitem {    
    margin: 0.7em 0 0 0;
    padding-bottom: 0.7em; 
    list-style: none;
    font-size:large;
    font-family: 'Nunito', sans-serif;
    position: relative;
    cursor: pointer;
}

.nav-listitem:hover ul, .nav-listitem:hover ul{    
    opacity: 1;
    visibility: visible;
}

.nav-listitemdrop { 
    z-index: 5;
    position: absolute;
    top: 2.5rem;
    left: -1rem;

    padding: 0.5em 1em;
    width: 8em;
    background-color: white;
    box-shadow: 2px 0 10px #494b4e;
    border-radius: 0.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.nav-listitemdrop li{ 
    list-style: none;
}

.nav-listitemdrop li a{    
    position: relative;
    color: black;
}

.nav-animation .nav-animationline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.nav-animation:hover  .nav-animationline::after, .nav-animation:focus .nav-animationline::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    background: rgb(241,0,196);
    background: linear-gradient(265deg, rgba(241,0,196,1) 0%, rgba(175,24,180,1) 35%, rgba(96,50,204,1) 100%);        
    padding: 3em 0;
}

.container {
    height: 100%;
    background-color: white;
    padding: 2em;
    border-radius: 0.3rem;
}

.edit-user input{
    border: black 2px solid;
    border-radius: 0.2rem;
}

.select2 .select2-container .select2-container--default {
    width: 100%;
}

.event-form {
    width: 80%;
    margin: 0 auto;
}

.name {
    display: none;
}

@media only screen and (max-width: 1199px){
    .event-form {
        width: 100%;
    }
}

@media(max-width: 900px) {
    .logo-image {
        display: none;
    }
}

@media(max-width: 860px) {
    .promo-text {
        display: none;
    }
    .landing {
        width: 100%;
    }

}

@media(max-width: 575px) {
    .logo {
        display: none;
    }

    .name {
        display: block;
    }
    .promo-login {
        display: none;
    }
    
    .header {
        justify-content: center;
    }

    .header-link {
        margin-left: 2em;
    }
}