body {
    background-color: rgb(255, 255, 255);
}

a:link {
    text-decoration: none;
}

a:hover{
    color:black;
}

.header {
    display: flex;
    padding: 2em 10% 2em 10%;
    align-items: center;
}

.logo {
    height: 70px;
}

.logo-text {
    height: 80px;
    margin-top: 0.5em;
    margin-right: auto;
    margin-left: 1em;
}

.header-link {
    margin-left: 3em;
    font-size: large;
    display: inline-block;
    position: relative;
    color: black;
}
  
.header-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.intro-card {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 450px;
    align-items: center;
    padding: 5em 10% 5em 10%;
    color: white;
    background: rgb(241,0,196);
    background: linear-gradient(90deg, rgba(241,0,196,1) 0%, rgba(175,24,180,1) 35%, rgba(96,50,204,1) 100%);    
    font-family: 'Bebas Neue';
}

.intro-text {
    margin-right: auto;
}

.intro-text-big {
    font-size: 50px;
    letter-spacing: 2px;
}

.intro-text-list {
    font-size: 30px;
    margin-left: 1em;
    letter-spacing: 1px;
}

.landing {
    font-size: 30px;
    width: 30%;
}

.landing-form {
    margin-top: 0.5em;
}